.navbar {
  background-color: #735da5;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.navbrand {
  color: #ffffff;
  font-size: 30px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navdiv {
  margin-right: 15px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.navdiv a {
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  font-weight: 450;
  padding: 0 10px;
}
.navdiv a:hover {
  /* color: #FF7B00; */
  /* background: #d3c5e5; */
  /* border-radius: 20px; */
  text-decoration: underline;
  text-decoration-color: #ff7b00;
  text-decoration-thickness: 2px;
}

.marginR {
  /* margin-right: 15px; */
  border: 1.5px solid transparent;
}
.inputsearch {
  width: 400px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  outline: none;
}
.marginR:focus-within {
  box-shadow: 0 0 0 1.5px #ff7b00;
  border-color: #ff7b00;
  border-radius: 6px;
}

.button {
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.onhover:hover {
  text-decoration-line: underline !important;
}
.nohover {
  padding: 0 !important;
}
.nohover:hover {
  background: none !important;

  /* border-radius: 20px; */
}

.nostyle {
  padding: 0 !important;
  font-size: 16px !important;
  color: #735da5 !important;
  font-weight: 500 !important;
  text-decoration: none !important;
}
.nostyle:hover {
  background: none !important;
}
.bgcolor:hover {
  background: #d3c5e5;
}
.btncolor {
  border: 2px solid transparent;
}
.btncolor:hover {
  border-top: 2px solid red !important;
  border-bottom: 2px solid red !important;
}

.hovbtn:hover {
  background: #eaecef !important;
}
